.blog-post {

    // Section aside
    .aside {
        position: sticky;
        top: 1193rem;
        margin-left: 82rem;

        &__bar {
            display: flex;
            flex-direction: column;
        }
    }

    // Section END

    // Section hero
    .hero {

        &__titleInfo {
            display: flex;
            flex-direction: column;
            text-align: left;

            &-tag {
                color: var(--Grey-500);
                letter-spacing: 1.6rem;
            }

            &-title {
                max-width: 640rem;
                padding: 24rem 0 48rem 0;
            }

            &_info {
                display: flex;
                gap: 39rem;

                &-date {
                    color: var(--Grey-500);
                    letter-spacing: 1.6rem;
                }

                &-comments {
                    display: flex;
                    align-items: center;
                    gap: 8rem;
                    color: var(--Grey-500);
                    letter-spacing: 1.6rem;
                }
            }

            &_img {
                padding: 64rem 0 41rem 0;
            }
        }

        &__post {
            padding: 0 196rem;

            &_writer {
                display: flex;
                align-items: center;
                gap: 8rem;

                &-name {
                    letter-spacing: 1.6rem;
                }
            }

            &_description {
                padding: 39rem 0 96rem 0;

                &_txt {
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    &-text {
                        letter-spacing: 0.95rem;

                        &-list {
                            display: flex;
                            flex-direction: column;
                            gap: 30rem;
                            padding-left: 20rem;
                            letter-spacing: 0.95rem;
                        }
                    }

                    &-text:nth-child(2) {
                        padding: 50rem 0;
                    }

                    &-text:nth-child(4) {
                        margin-top: 32rem;
                        padding-left: 64rem;
                        border-left: 2rem solid var(--Grey-500);
                    }

                    &-text:nth-child(5) {
                        padding: 32rem 0 45rem 64rem;
                        border-left: 2rem solid var(--Grey-500);
                        color: var(--Grey-500);
                    }

                    &-text:nth-child(6) {
                        padding: 32rem 0 32rem;
                    }
                }

                &_tags {
                    display: flex;
                    gap: 16rem;
                    padding: 66rem 0 16rem 0;
                    border-bottom: 1rem solid var(--Grey-100);

                    &-text {
                        letter-spacing: 1.6rem;
                    }

                    &-tags {
                        letter-spacing: 1.6rem;
                        color: var(--Grey-500);
                    }
                }
            }

            &_reply {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 96rem;

                &-heading {
                    letter-spacing: 2.3rem;
                }

                &-text {
                    color: var(--Grey-500);
                    letter-spacing: 1.6rem;
                }

                &_form {
                    display: flex;
                    flex-direction: column;
                    max-width: 736rem;
                    padding-top: 64rem;

                    &_personal {
                        display: flex;
                        justify-content: space-between;
                        gap: 43rem;

                        &_info {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            &-label {
                                color: var(--Grey-700);
                                letter-spacing: 0.8rem;
                            }

                            &-input {
                                max-width: 215rem;
                                padding: 8rem 106rem 8rem 0;
                                border: none;
                                border-bottom: 1rem solid var(--color-black);
                                color: var(--Grey-500);
                                letter-spacing: 1.2rem;
                            }
                        }
                    }

                    &_check {
                        display: flex;
                        align-content: center;
                        gap: 10rem;
                        padding: 48rem 0;

                        &-text {
                            color: var(--Grey-500);
                            letter-spacing: 1.2rem;
                        }
                    }

                    &_comment {
                        display: flex;
                        flex-direction: column;

                        &-label {
                            color: var(--Grey-700);
                            letter-spacing: 0.8rem;
                        }

                        &-input {
                            padding: 8rem 0;
                            border: none;
                            border-bottom: 1rem solid var(--color-black);
                            color: var(--Grey-500);
                            letter-spacing: 1.2rem;
                            margin-bottom: 32rem;
                        }
                    }
                }

                &-button {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    background: var(--Grey-700);
                    color: var(--white-color);
                    padding: 8rem 34rem;
                    letter-spacing: 1.6rem;
                }
            }
        }

        &__comments {
            padding: 0 196rem;

            &-heading {
                letter-spacing: 2.3rem;
            }

            &_comment {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &_original {
                    display: flex;
                    gap: 24rem;
                    padding-top: 24rem;
                    text-align: left;

                    &_info {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 16rem;

                        &-text {
                            letter-spacing: 0.95rem;
                        }

                        &_content {
                            display: flex;
                            align-items: center;
                            gap: 24rem;

                            &-name {
                                letter-spacing: 0.95rem;
                            }

                            &-date {
                                color: var(--Grey-500);
                                letter-spacing: 1.2rem;
                            }
                        }

                        &-button {
                            color: var(--Grey-500);
                            letter-spacing: 1.6rem;
                        }
                    }
                }

                &_original:last-child {
                    padding-top: 39rem;
                }

                &_reply {
                    display: flex;
                    gap: 24rem;
                    padding: 40rem 0 40rem 96rem;
                    border-bottom: 1rem solid var(--Grey-100);

                    &_info {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 16rem;

                        &-text {
                            letter-spacing: 0.95rem;
                        }

                        &_content {
                            display: flex;
                            align-items: center;
                            gap: 24rem;

                            &-name {
                                letter-spacing: 0.95rem;
                            }

                            &-date {
                                color: var(--Grey-500);
                                letter-spacing: 1.2rem;
                            }
                        }

                        &-button {
                            color: var(--Grey-500);
                            letter-spacing: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}